# Python virtual environment
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
.env

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor folders
.vscode/
.idea/

# Node (if ever used)
node_modules/
